<openerp>
    <data>
        <record id="onlyoffice_api_configuration_view" model="ir.ui.view">
            <field name="name">onlyoffice_api_configuration_view</field>
            <field name="model">onlyoffice.config.api</field>
            <field name="arch" type="xml">
                <form string="API Configuration Onlyoffice" class="oe_form_configuration">
                    <header>
                        <button string="Save" type="object"
                            name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                            name="cancel" class="oe_link"/>
                            <button string="Get API Token" type="object"
                            name="getApiToken" class="oe_link"/>
                    </header>
                    <group string="Configuration">
                        <group name="left">
                            <field name="user" />
                            <field name="url" string="API AUTH URL"/>
                            <field name="server_public_ip" />
                        </group>
                        <group name="right">
                            <field name="password" password="True"/>
                            <field name="api_key"/>
                            <field name="server_internal_ip" />
                        </group>
                    </group>
                </form>
            </field>
        </record>

        <record id="onlyoffice_api_configuration_action" model="ir.actions.act_window">
            <field name="name">OnlyOffice API Configuration</field>
            <field name="res_model">onlyoffice.config.api</field>
            <field name="view_id" ref="onlyoffice_api_configuration_view"/>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
        </record>



    </data>
</openerp>